* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    body {
    font-family: lato;
    }
    
    #navArea {
    display: flex;
    justify-content: space-between;
    padding: 0px 10%;
    position: fixed;
    width: 100%;
    top: 0px;
    background: rgba(255, 255, 255, 0.082);;
    transition: background 0.5s;
    max-height: 100px;
    }
   
    #navArea .logo img {
    height: 84px;
    transition: height 0.5s;
    }
    
    
    #navArea.is-sticky {
    background: white;
    }
    
    #navArea.is-sticky a {
    color:#000;
    }
    
    #navArea.is-sticky .logo img {
    height:64px;
    }
    
.item {
    background: #3580c9;
    padding-top: 10%;
    padding-bottom: 2%;
    
}
    
.thumb{
    margin: 0px;
}

.content h2, p {
    color: #fff;
    }
    
.content h2 {
    font-size: 80px;
    font-weight: bold;
}

    

